.env
.venv/
data/
uploads/
__pycache__/
*.pyc
*.png
*.pdf
*.json
*.txt
**/temp_images/
/scripts

# Frontend
frontend/node_modules/
frontend/.next/
frontend/out/
frontend/build/
frontend/.env*.local

# Common
.DS_Store
.vscode/
.idea/
npm-debug.log*
yarn-debug.log*
yarn-error.log*